@import url("mocha.css");

body {
  font-family: Arial;
  color: var(--text);
  padding: 10px;
  background: var(--base);
}

/* Header */
.header {
  padding: 30px;
  text-align: center;
  background: var(--base);
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: var(--base);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: var(--teal);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: var(--teal);
  color: black;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: var(--base);
  margin-top: 20px;
}